# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
from ._examples import Examples, Example, ExampleSnippet, ExampleSnippetLanguage, ExampleResult
from ._parameters import Parameter, Parameters, ParameterType
from ._requirements import Requirements, Requirement
from ._capabilities import (
    Capabilities, 
    Capability,
    {%- for capability in capabilities %}
    {{ capability.class_name }}Requirements,
    {%- endfor %}
)
from ._protocols import (
    RequirementProtocol, 
    CapabilityProtocol, 
    FeatureProtocol, 
    ProfileProtocol
)
from ._profiles import Profiles, Profile
from ._features import Features, Feature

__all__ = [
    "Requirements", 
    "Requirement",
    "Examples",
    "Example",
    "ExampleSnippet",
    "ExampleSnippetLanguage",
    "ExampleResult",
    "Parameter",
    "ParameterType",
    "Parameters",
    "Capabilities", 
    "Capability",
    {%- for capability in capabilities %}
    "{{ capability.class_name }}Requirements",
    {%- endfor %}
    "RequirementProtocol",
    "CapabilityProtocol",
    "FeatureProtocol",
    "ProfileProtocol",
    "Profiles", 
    "Profile", 
    "Features", 
    "Feature",
]
