# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#

from dataclasses import dataclass
from enum import Enum

from ._requirements import Requirement, Requirements
from ._parameters import Parameters


{% for capability in capabilities %}
class {{ capability.class_name }}Requirements(Requirement, Enum):
    """
    An enumeration of all requirements for the {{ capability.class_name }} capability.

    .. deprecated:: 0.2.0
        Use :class:`Requirements` instead.
    """
    {%- for requirement in capability.requirements %}
    {{ requirement.enum_id }} = (
        "{{ requirement.namespaced_id }}",
        "{{ requirement.version or '0.1.0' }}",
        "{{requirement.name or requirement.code}}",
        {{requirement.description | tojson}}, 
        {{ requirement.metadata.html_path | tojson if requirement.metadata and requirement.metadata.html_path else 'None' }},
        {{ requirement.compatibility.display_name | tojson if requirement.compatibility else 'None' }},
        {%- if requirement.tags %}
        ("{{requirement.tags.display_name}}",),
        {%- else %}
        (),
        {%- endif %}
        {%- if requirement.parameters %}
        (
            {%- for param in requirement.parameters %}
            Parameters.{{ param.enum_name }},
            {%- endfor %}
        ),
        {%- else %}
        (),
        {%- endif %}
    )
    {% endfor %}
{% endfor %}


@dataclass(frozen=True)
class Capability:
    """
    Args:
        id: The id of the capability
        version: The version of the capability
        path: The path to the capability
        requirements: The requirements of the capability
    """
    id: str
    version: str
    path: str
    requirements: list[Requirement]


class Capabilities(Capability, Enum):
    """
    An enumeration of all capabilities.
    """
    {%- for capability in capabilities %}
    {{ capability.enum_id_version }} = (
        "{{ capability.namespaced_id }}",
        "{{ capability.version }}", 
        {{ capability.metadata.html_path | tojson if capability.metadata and capability.metadata.html_path else 'None' }},
        [
            {%- for requirement in capability.requirements %}
            Requirements.{{ requirement.enum_id_version }},
            {%- endfor %}
        ],
    )
    {%- endfor %}
    # Aliases for latest values
    {%- for capability in capabilities.latest_values() if capability.enum_id != capability.enum_id_version %}
    {{ capability.enum_id }} = {{ capability.enum_id_version }}
    {%- endfor %}
